body {
  color: #000;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  transition: all 0.4s;
}

a:hover {
  opacity: 0.7;
}

.is-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: block;
  }
}
.main {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  padding: 0 15px;
}

.fv {
  overflow-x: hidden;
}

.thumb-slider {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .thumb-slider {
    margin-top: 15px;
  }
}
.thumb-slider .swiper-wrapper {
  justify-content: center;
}

.swiper-slide {
  cursor: pointer;
}

.info {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .info {
    margin-top: 75px;
  }
}
.info__boxs {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .info__boxs {
    display: block;
  }
}
.info__box {
  flex: 0 1 45%;
}

@media screen and (max-width: 767px) {
  .info__box {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 767px) {
  .info__box:last-of-type {
    margin-top: 50px;
  }
}
.info__header {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.info__title {
  font-size: 20px;
  padding-left: 25px;
  position: relative;
}

.info__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  background: #735f2f;
  transform: translateY(-50%) rotate(45deg);
}

.info__more {
  font-size: 15px;
  padding-right: 20px;
  position: relative;
}

.info__more::after {
  position: absolute;
  content: "";
  border-top: solid 2px #735f2f;
  border-right: solid 2px #735f2f;
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  transform: translateY(-50%) rotate(45deg);
}

.info__body {
  padding: 15px 0;
  max-height: 220px;
  overflow: scroll;
}

.info__article {
  display: block;
}

.info__article:nth-of-type(n + 2) {
  margin-top: 25px;
}

.info__date {
  color: #999;
  font-size: 14px;
}

.info__ttl {
  margin-top: 8px;
}

.banner {
  margin: 100px auto 0;
}

@media screen and (max-width: 767px) {
  .banner {
    margin: 75px auto 0;
  }
}
.banner .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .banner .container {
    display: block;
  }
}
.banner__pictureArea {
  flex: 0 1 85%;
}
@media screen and (max-width: 767px) {
  .banner__pictureArea .banner__pictureArea {
    flex: 0 1 100%;
  }
}

.banner__pics {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .banner__pics {
    margin-top: 8px;
  }
}
.banner__pic {
  flex: 0 1 48%;
}

@media screen and (max-width: 767px) {
  .banner__pic {
    flex: 0 1 49%;
  }
}
.banner__boxArea {
  flex: 0 1 12.5%;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .banner__boxArea {
    flex: 0 1 100%;
    margin: 30px 0 0;
  }
}
.banner__box {
  margin-top: 15px;
  display: block;
}

@media screen and (max-width: 767px) {
  .banner__box {
    max-width: 70%;
    margin: 25px auto 0;
  }
}
.banner__title {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  border-left: 2px solid #bbb;
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 20px;
  }
}
.banner__text {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .banner__text {
    margin-top: 5px;
    font-size: 16px;
  }
}
.cat {
  margin: 100px auto 0;
}

@media screen and (max-width: 767px) {
  .cat {
    margin: 75px auto 0;
  }
}
.cat__boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .cat__boxs {
    display: block;
  }
}
.cat__box {
  flex: 0 1 31.5%;
}

@media screen and (max-width: 767px) {
  .cat__box {
    display: block;
    flex: 0 1 100%;
  }
}
.cat__box:nth-of-type(n + 4) {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .cat__box:nth-of-type(n + 3) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .cat__box:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}
.rank {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .rank {
    margin-top: 75px;
  }
}
.rank__header {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.rank__title {
  font-size: 24px;
  padding-left: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .rank__title {
    font-size: 22px;
  }
}
.rank__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  background: #735f2f;
  transform: translateY(-50%) rotate(45deg);
}

.rank__boxs {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .rank__boxs {
    margin-top: 20px;
  }
}

.rank__box {
  flex: 0 1 18%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .rank__box {
    flex: 0 1 45%;
  }
}
.rank__box::after {
  position: absolute;
  content: "5";
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  color: #fff;
  background: #444;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank__box:first-of-type::after {
  content: "1";
  background: #B8995F;
}

.rank__box:nth-of-type(2)::after {
  content: "2";
  background: #A0A0A0;
}

.rank__box:nth-of-type(3)::after {
  content: "3";
  background: #B87333;
}

.rank__box:nth-of-type(4)::after {
  content: "4";
}

@media screen and (max-width: 767px) {
  .rank__box:nth-of-type(n + 3) {
    margin-top: 20px;
  }
}
.rank__ttl {
  margin-top: 5px;
  text-align: center;
}

.pick {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .pick {
    margin-top: 75px;
  }
}
.pick__header {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.pick__title {
  font-size: 24px;
  padding-left: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .pick__title {
    font-size: 22px;
  }
}
.pick__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  background: #735f2f;
  transform: translateY(-50%) rotate(45deg);
}

.pick__boxs {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .pick__boxs {
    margin-top: 20px;
  }
}
.pick__box {
  flex: 0 1 22%;
}

@media screen and (max-width: 767px) {
  .pick__box {
    flex: 0 1 45%;
  }
}
.pick__box:nth-of-type(n + 5) {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .pick__box:nth-of-type(n + 5) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .pick__box:nth-of-type(n + 3) {
    margin-top: 20px;
  }
}
.pick__ttl {
  margin-top: 5px;
  text-align: center;
}

.user {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .user {
    margin-top: 75px;
  }
}
.user__header {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.user__title {
  font-size: 24px;
  padding-left: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .user__title {
    font-size: 22px;
  }
}
.user__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  background: #735f2f;
  transform: translateY(-50%) rotate(45deg);
}

.user__boxs {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .user__boxs {
    margin-top: 20px;
  }
}
.user__box {
  flex: 0 1 18%;
}

@media screen and (max-width: 767px) {
  .user__box {
    flex: 0 1 45%;
  }
}
.user__box:nth-of-type(n + 6) {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .user__box:nth-of-type(n + 3) {
    margin-top: 25px;
  }
}
.about {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 75px;
  }
}
.about__header {
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}

.about__title {
  font-size: 24px;
  padding-left: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 22px;
  }
}
.about__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  background: #735f2f;
  transform: translateY(-50%) rotate(45deg);
}

.about__ttl {
  margin-top: 50px;
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 700;
  border-left: 2px solid #bbb;
}

@media screen and (max-width: 767px) {
  .about__ttl {
    margin-top: 30px;
  }
}
.about__text {
  margin-top: 25px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .about__text {
    margin-top: 20px;
  }
}
.about__boxArea {
  margin-top: 25px;
  padding: 50px 60px;
  background: url(../images/2024_about5.jpg) center center/cover no-repeat;
}

@media screen and (max-width: 767px) {
  .about__boxArea {
    padding: 30px 40px;
  }
}
.about__lead {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.about__lead--inline {
  color: #735f2f;
  position: relative;
}

.about__lead--inline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background: #735f2f;
}

.about__boxs {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .about__boxs {
    margin-top: 40px;
    display: block;
  }
}
.about__box {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .abou__box {
    flex: 0 1 100%;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .about__box:nth-of-type(n + 2) {
    margin-top: 30px;
  }
}
.about__picture {
  max-width: 180px;
  margin: 0 auto;
}

.about__big {
  margin-top: 15px;
  color: #735f2f;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  height: 54px;
}

@media screen and (max-width: 767px) {
  .about__big {
    height: auto;
  }
}
.about__content {
  margin-top: 15px;
  font-size: 14px;
  line-height: 2;
}

.about__ttl2 {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .about__ttl2 {
    margin-top: 45px;
  }
}
.about__area {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .about__area {
    margin-top: 20px;
    display: block;
  }
}
.about__comment {
  flex: 0 1 58%;
  font-size: 15px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .about__comment {
    flex: 0 1 100%;
  }
}
.about__pic {
  flex: 0 1 42%;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .about__pic {
    flex: 0 1 100%;
    margin: 20px auto 0;
    max-width: 80%;
  }
}
.footer {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  padding: 100px 15px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 75px 15px 0;
  }
}
.footer__areas {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__areas {
    display: block;
  }
}
.footer__area {
  flex: 0 1 48%;
}

@media screen and (max-width: 767px) {
  .footer__area {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer__area:last-of-type {
    margin-top: 45px;
  }
}
.footer__title {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
  border-left: 2px solid #bbb;
}

.footer__box:nth-of-type(n + 2) .footer__title {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .footer__box:nth-of-type(n + 2) .footer__title {
    margin-top: 45px;
  }
}
.footer__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.75;
}

.footer__text--bold {
  font-weight: 700;
}

.footer__text--red {
  color: #ff0000;
  font-weight: 700;
}

.footer__picture {
  margin-top: 15px;
}

.footer__moreArea {
  margin-top: 15px;
  text-align: right;
}

.footer__more {
  font-size: 14px;
  padding-right: 18px;
  position: relative;
}

.footer__more::after {
  position: absolute;
  content: "";
  border-top: solid 2px #735f2f;
  border-right: solid 2px #735f2f;
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  transform: translateY(-50%) rotate(45deg);
}

.footer__copy {
  margin: 45px 0 15px;
  text-align: center;
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */